/* css stylesheet file that contains all the style information */

QGroupBox {
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgrey; 
  color: white
}

QGroupBox:title {
  subcontrol-origin: margin;
  subcontrol-position: top left;
  padding-left: 10px;
  padding-right 10px;
}
